/* main.css */
@import "./abstracts/variables.css";
@import "./layout/grid.css";
@import "./layout/navbar.css";
@import "./components/cards.css";
/* ... resto de importaciones */


html,
body {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    position: relative;
    z-index: 2;
    background: white;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
}